.resumebody {
	justify-content: center;
	align-items: center;
	width: 100%;
}
.resumeRow {
	margin-top: 0.5cm;
	margin-bottom: 0.5cm;
}
.resumeCol {
	justify-content: center;
	margin-top: 1cm;
	margin-bottom: 1cm;
}

.loadingRow {
	justify-content: center;
	align-items: center;
	width: auto;
}
.downloadNav a {
	text-decoration: none;
}
