.contactBody {
	min-height: 100vh;
	background-color: #dcdddd;
	display: flex;
}
.contactRow {
	width: 100%;
	justify-content: center;
	align-items: center;
}
.contactColImg {
	justify-content: center;
	display: flex;
}

.contactColImg img {
	height: 250px;
	margin-top: 1cm;
	margin-bottom: 1cm;
}

.contactinfo {
	font-size: 20px;
	font-family: Anton;
	margin-bottom: 1cm;
}

.contactinfoListGroup a {
	color: #495057;
	text-decoration: none;
}

:focus {
	outline: none !important;
}
/*
.contactinfoListGroup :hover {

	background-color: #f8f9fa;
}
.contactinfoListGroup a:active {
	
	background-color: #f8f9fa !important;
}

.list-group-item.active {
	color: #495057 !important;
	background-color: #f8f9fa !important;
	border-color: #f8f9fa !important;
}
.active {
	color: #495057 !important;
	background-color: #f8f9fa !important;
	border-color: #f8f9fa !important;
} */
/* change text aligning on device width less than 767 */
@media (max-width: 767.98px) {
	.contactColinfo h2 {
		text-align: center;
	}
}
